* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  color: #fff;
  background-color: #292D33;
  min-width: 375px;
  /* background-image: url("./images/intro.jpeg"); */
}

.intro-body {
  background-image: url("./images/intro.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid white;
  cursor: pointer;
}

.btn:hover, .btn:active {
  background-color: #EA6711;
  border-color: #fff;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: white;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover, .btn--flat:active {
  background-color: white;
  color: white;
}

.userCard {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #FFA500;
  border-radius: 1rem;
  width: 50%;
  margin: 2rem auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: center; */
  padding: 3%;
}

.userCard form {
  width: 100%;
  padding: 0% 20%;
}

.userCard div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  align-items: flex-start;
  font-weight: bold;
}

.userCard input {
  float: left;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 2rem;
}