.word {
    padding: 3px;
    margin: 3px;
    font-size: 1.3rem;
    /* border-color: black; */
}

.word.new {
    color: grey;
}

.word.correct {
    color: white;
}

.word.highlighted {
    /* border: #EA6711; */
    background-color: gray;
}


.word.wrong {
    color: #E32800;
    color: #EA6711;
}

.typing {
    flex-direction: column;
}