.word {
    padding: 3px;
    margin: 3px;
    /* font-size: 1.3rem; */
    font-size: clamp(0.5rem, 2.5vw, 2rem); 
}

.word.new {
    color: grey;
}

.word.correct {
    color: white;
}

.word.highlighted {
    /* border: #EA6711; */
    /* color: grey; */
    background-color: gray;
}

.word.highlightedError {
    /* border: #EA6711; */
    color: #EA6711;
    background-color: #ea681175;
}

.word.wrong {
    color: #E32800;
    color: #EA6711;
}

.typing {
    flex-direction: column;
}